body {
    background: url('background.gif') no-repeat center center/cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px; 
    padding-bottom: 50px;}

.navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0; 
}

.navbar .logo {
    font-size: 24px;
    font-family: 'Oranienbaum', sans-serif;
    font-weight: bold;
    color: rgb(253, 203, 247);
    margin-left: 10px;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Oranienbaum', sans-serif; 
    color: rgb(253, 203, 247);
    font-size: 18px;
    padding: 8px 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-links a.active::after,
.nav-links a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(191, 86, 232);
    bottom: 5px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

h1 {
    color: rgb(253, 203, 247);
    font-family: 'Oranienbaum', serif;
    font-weight: bold;
}

p {
    color: rgb(253, 203, 247);
    font-family: 'Domine', serif;
}

.background-col {
    background: rgba(255, 255, 255, 0.11);
    border: 100px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.fullsize {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) scale(2.5);
    max-width: 90vw;
    max-height: 90vh;
    cursor: zoom-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container-glass {
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 60px auto;
}

.background-col img {
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .navbar .logo {
        font-size: 20px;
    }

    .nav-links a {
        font-size: 16px;
        padding: 6px 10px;
    }

    .container-glass {
        margin: 10px 20px;
        padding: 30px;
    }

    .row {
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 10px;
    }

    .fullsize {
        transform: translate(-50%, -55%) scale(3);
    }

    .background-col img {
        max-height: 80px;
    }

    .fullsize {
        top: 55%;
        transform: translate(-50%, -55%) scale(3.5);
    }
}

@media (max-width: 320px) {
    .fullsize {
        transform: translate(-50%, -55%) scale(2.5);
    }
}

@media (max-width: 575.98px) {
    .navbar .logo {
      font-size: 20px;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  
    }
  
    .nav-links a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid #fdd3f91e;
      text-decoration: none;
      color: rgb(253, 203, 247);
    }
  
    .nav-links a:last-child {
      border-bottom: none; 
    }
  
    .nav-links a.active {
      border-bottom: none !important;
      color: rgb(254, 184, 247);
  
    }
  }  
  
