#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; 
  top: 0;
  left: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  background-color: #65477e;
  padding-top: 40px;
  padding-bottom: 70px;
}

.navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);    
}

.navbar .logo {
    font-size: 24px;
    font-family: 'Oranienbaum', serif;
    font-weight: bold;
    color: rgb(253, 203, 247);
    margin-left: 10px;
}

.nav-links a {
    font-family: 'Oranienbaum', serif;
    text-decoration: none;
    color: rgb(253, 203, 247);
    font-size: 18px;
    padding: 8px 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-links a.active::after,
.nav-links a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(191, 86, 232);
    bottom: 5px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.container-glass {
    width: 100%;
    max-width: 1000px; 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(253, 203, 247);
    font-family: 'Oranienbaum', serif;
    font-weight: bold;
}

p {
    color: rgb(253, 203, 247);
    margin-top: 20px;
    font-family: 'Domine', serif;
    size: 18px;
}

.background-col {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 15px;
    transition: transform 0.3s ease;
    margin: 7px;
}

.background-col:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

.background-col img {
    max-height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

  @media (min-width: 768px) {
    .navbar .logo {
      font-size: 24px;
    }
  
    .nav-links a {
      font-size: 18px;
      padding: 8px 15px;
    }
  
    .container-glass {
      padding: 20px;
      width: 90%;
    }
  
    h1 {
      font-size: 34px;
    }
  
    p {
      font-size: 15px;
    }
  
    .background-col img {
      max-height: 70px;
    }
  }
  
  @media (min-width: 425px) {
    .navbar .logo {
      font-size: 24px;
    }
  
    .nav-links a {
      font-size: 18px;
      padding: 8px 15px;
    }
  
    .container-glass {
      padding: 45px;
      width: 90%;
    }
  
    h1 {
      font-size: 34px;
    }
  
    p {
      font-size: 18px;
    }
  
    .background-col img {
      max-height: 100px;
      margin-bottom: 20px;
    }

    .row {
        gap: 8px;
    }
  }

  @media (min-width: 375px) {
    .navbar .logo {
      font-size: 24px;
    }
  
    .nav-links a {
      font-size: 18px;
      padding: 8px 15px;
    }
  
    .container-glass {
      padding: 45px;
      width: 90%;
    }
  
    h1 {
      font-size: 34px;
    }
  
    p {
      font-size: 18px;
    }
  
    .background-col img {
      max-height: 100px;
      margin-bottom: 20px;
    }

    .row {
        gap: 8px;
    }
  }

  @media (min-width: 320px) {
    .navbar .logo {
      font-size: 24px;
    }
  
    .nav-links a {
      font-size: 18px;
      padding: 8px 15px;
    }
  
    .container-glass {
      padding: 45px;
      width: 90%;
    }
  
    h1 {
      font-size: 34px;
    }
  
    p {
      font-size: 18px;
    }
  
    .background-col img {
      max-height: 100px;
      margin-bottom: 20px;
    }

    .row {
        gap: 8px;
    }
  }

  @media (max-width: 768px) {
    .navbar .logo {
      font-size: 20px;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column; 
      align-items: center;
      width: 100%;
    }
  
    .nav-links a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid #fdd3f91e;
      text-decoration: none;
      color: rgb(253, 203, 247);
    }
  
    .nav-links a:last-child {
      border-bottom: none;
    }
  
    .nav-links a.active {
      border-bottom: none !important;
      color: rgb(254, 184, 247);
    }
  }
  

  